@media screen and (max-width:1220px) {

    html {
        font-size: 8px;

    }
    body {
     margin-top:40px;
     width: 100%;
     margin: 0 auto;
    }

   
}

@media screen and (max-width:1025px) {

    .visible-lg {
        display: none;
    }
    .m-menu-link {
        display: block;
    }
    .header .menu-wrapper{
        margin-top: 25px;

    }
    .header .menu-wrapper .m-menu {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .header .menu-wrapper .m-menu .menu-close {
        position: fixed;
        right: 20%;
        top: 25%;
        font-size: 30px;
    }
        
    
    .footer .l-footer {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10px;

    }
    .footer .copyright {
        padding: 0;
        flex: none;
    }
    .main .section.s-partners .partner-cards {

        width: 100%;
       
    }  
    .partner-cards .partner-card {
        margin-top: 15px;
    }
    .contacts .contact-cards {
        padding-top: 20px ;
    }
}


@media screen and (max-width:900px) {
    .section .section-cards {
        flex-wrap: wrap;
    }
    .section .section-cards .section-card{
        margin-top: 20px;
    }
    .contacts .contact-cards {
        padding-top: 0px ;
    }
    .contact-cards .contact-card {
        margin-top: 15px; 
    }
    .section.s-adventages .section-cards .card-adventage:first-child:before {
        display: none;
    }
}

